# requirements.in
torch              # pytorch (CPU version by default)
lightning
numpy
pandas
matplotlib
tqdm
pyyaml             # yaml in conda = pyyaml on pip
tensorboard
joblib
scikit-learn
jupyter
seaborn
mplfinance
ta                 # https://pypi.org/project/ta/
TA-Lib             # ⚠️ needs native library
backtesting
